/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

body {
  background-color: #f2f2f3 !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 510px);
}

p {
    word-wrap: break-word;
  }
  
  h5 {
    font-size: 14px;
  }
  
  h4 {
    font-size: 16px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  h2 {
    font-size: 30px !important;
  }
  
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: inherit;
  }
  
  .h1, .h2, .h3, h1, h2, h3 {
      margin-top: 20px;
      margin-bottom: 10px;
  }
  
  .h4, .h5, .h6, h4, h5, h6 {
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

input, td {
  height: 60px !important;
  width: 60px !important;
}

@media only screen and (max-width: 580px) {
  td, input {
    width: 32px !important;
    height: 32px !important;
  }

  .col-sm-2 {
    max-width: 35% !important;
  }

  .col-sm-1 {
    max-width: 20% !important;
  }
}

@media only screen and (max-width: 768px) and (min-width: 581px) {
  td, input {
    width: 45px !important;
    height: 45px !important;
  }

  .col-sm-2 {
    max-width: 35% !important;
  }

  .col-sm-1 {
    max-width: 20% !important;
  }
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
