<div class="container bg-white text-center pt-3">
    <div class="row justify-content-center">
        <div class="col-sm-8 text-center">
            <h2>{{ 'WelcomeText' | translate }}!</h2>
            <p>{{ 'InstructionText' | translate }}</p>
            <br>
            <p>{{ 'HintText' | translate }}</p>
        </div>
    </div>
    <br>
    <div class="row d-flex justify-content-end">
        <div class="col-2 text-end">
            <p>Language:</p>
        </div>
        <div class="col-1 text-center">
            <select class="form-control text-center" #selectedLang (change)="switchLang(selectedLang.value)">
                <option *ngFor="let language of translate.getLangs()" [value]="language" class="text-center"
                  [selected]="language === translate.currentLang">
                  {{ language }}
                </option>
              </select>
        </div>
    </div>
    <br>
    <div>
        <form [formGroup]="dataForm" class="d-flex justify-content-center">
            <table>
                <tbody>
                    <tr *ngFor="let row of [0,1,2,3,4,5,6,7,8]">
                        <td *ngFor="let col of [0,1,2,3,4,5,6,7,8]" 
                        [ngClass]="getCssClass(row, col)">
                            <div *ngIf="this.puzzle.grid[row][col] != 0; else blank" class="align-middle">
                                {{puzzle.grid[row][col]}}
                            </div>
                            <ng-template #blank>
                                <div (contextmenu)="onRightClick($event, row, col)"> 
                                    <input type="text" textarea formControlName="row{{row}}col{{col}}" class="text-center border-0">
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <br>
    <div class="row justify-content-center" ngbDropdown>
        <div ngbDropdown></div>
        <button class="col-sm-2 btn btn-primary m-1" ngbDropdownToggle>{{ 'CreateNewSudoku' | translate}}</button>
        <div ngbDropdownMenu class="dropdown-menu">
            <p class="text-center border-bottom">{{ 'SelectDificulty' | translate }}</p>
            <a ngbDropdownItem (click)="getNewSudoku(1)">{{ 'Level1' | translate }}</a>
            <a ngbDropdownItem (click)="getNewSudoku(2)">{{ 'Level2' | translate }}</a>
            <a ngbDropdownItem (click)="getNewSudoku(3)">{{ 'Level3' | translate }}</a>
        </div>
        <button class="col-sm-2 btn btn-primary m-1" (click)="open(content)">{{ 'Solve' | translate}}</button>
        <!-- <button class="col-sm-2 btn btn-primary m-1" (click)="hint()">{{ 'Hint' | translate}}</button> -->
    </div>
    <br>
    <ng-template #content let-modal>
        <div class="modal-header justify-content-center">
            <b class="align-center">{{ 'SudokuSolution' | translate }}</b>
        </div>
        <div class="modal-body d-flex justify-content-center">
            <div class="row">
                <p>{{ 'SolveCheckText' | translate }}</p>
            </div>
        </div>
        <div class="modal-footer justify-content-right">
            <button type="button" class="btn btn-secondary" (click)="solve()">{{ 'YES' | translate }}</button>
            <button type="button" class="btn btn-secondary" (click)="decline()">{{ 'NO' | translate}}</button>
        </div>
    </ng-template>
    <ng-template #successWindow let-modal>
        <div class="modal-body d-flex justify-content-center">
            <div class="row">
                <div class="col-12">
                    <i-bs name="check-circle" class="d-inline p-2" height="30px" width="30px"></i-bs>{{ 'HintSuccess' | translate }}
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #failedWindow let-modal>
        <div class="modal-body d-flex justify-content-center">
            <div class="row">
                <div class="col-12">
                    <i-bs name="x-circle" class="d-inline p-2 green" height="30px" width="30px"></i-bs>{{ 'HintSuccess' | translate }}
                </div>
            </div>
        </div>
    </ng-template>
</div>
